[flake8]
extend-ignore =
    # E203 whitespace before ':' (black)
    E203,
    # E501 line too long (black)
    E501
    # D100 Missing docstring in public module
    D100,
    # D103 Missing docstring in public function
    D103,
    # D401 First line should be in imperative mood
    D401,
exclude =
    # Skip the Exercism provided test files
    *_test.py
